<ul class="first" ng-controller="GaleriaController as c" style="list-style-type: none;">
   <li>
       <img alt="Música"  src="http://www.hotelpresident.cz/files/hotel-president-prague/bar/hotel-president-prague-piano-bar-017.jpg">
       <p class="text">Música</p>
   </li>
   <li>
       <img alt="Sala" src="http://www.hotelpresident.com/resources/images/e981a592-0a10-40b7-bdc5-cafcf4be8008/pt/PLI/entrance-best-western-hotel-president-rome.jpg">
       <p class="text">Sala</p>
   </li>
   <li>
       <img alt="Alberca"  src="http://croatia.hr/Images/t900x600-20911/Valamar-Dubrovnik-President-Hotel-%7C-Dubrovnik.jpg">
       <p class="text">Alberca</p>
   </li>
   <li>
       <img alt="Alberca"  src="http://croatia.hr/Images/t900x600-20911/Valamar-Dubrovnik-President-Hotel-%7C-Dubrovnik.jpg">
       <p class="text">Alberca</p>
   </li>
   <li>
       <img alt="Habitación"  src="http://www.voyagesdestination.com/images/hotels/athens/presidenthotel/files/president%204.jpg">
       <p class="text">Habitación</p>
   </li>
   <li>
       <img alt="Cena"  src="http://www.hotelpresident.cz/files/cms/sized/files/hotel-president-prague/homepage/hotel-president-prague-dinner-terrace-001-1500x1000.jpg">
       <p class="text">Cena</p>
   </li>
   <li>
       <img alt="Menú"  src="http://www.hotelpresident-andorra.com/uploads/galeriahoteles/restaurant-hotel-president-jan-hoteles.jpg">
       <p class="text">Menú</p>
   </li>
   <li>
       <img alt="Bar"  src="http://d2z6mu74zhohgn.cloudfront.net/_php/sfgmin-446471-864-530.jpg">
       <p class="text">Bar</p>
   </li>
   <li>
       <img alt="Fachada"  src="http://q-ec.bstatic.com/images/hotel/840x460/266/26626805.jpg">
       <p class="text">Fachada</p>
   </li>
</ul>
