
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="links">
    <a href="http://www.hotelpresident.cz/files/hotel-president-prague/bar/hotel-president-prague-piano-bar-017.jpg" title="Música" data-gallery>
        <img src="http://www.hotelpresident.cz/files/hotel-president-prague/bar/hotel-president-prague-piano-bar-017.jpg" alt="Música">
    </a>
    <a href="http://www.hotelpresident.com/resources/images/e981a592-0a10-40b7-bdc5-cafcf4be8008/pt/PLI/entrance-best-western-hotel-president-rome.jpg" title="Sala" data-gallery>
        <img src="http://www.hotelpresident.com/resources/images/e981a592-0a10-40b7-bdc5-cafcf4be8008/pt/PLI/entrance-best-western-hotel-president-rome.jpg" alt="Sala">
    </a>
    <a href="http://croatia.hr/Images/t900x600-20911/Valamar-Dubrovnik-President-Hotel-%7C-Dubrovnik.jpg" title="Alberca" data-gallery>
        <img src="http://croatia.hr/Images/t900x600-20911/Valamar-Dubrovnik-President-Hotel-%7C-Dubrovnik.jpg" alt="Alberca">
    </a>
    <a href="http://www.voyagesdestination.com/images/hotels/athens/presidenthotel/files/president%204.jpg" title="Habitación" data-gallery>
        <img src="http://www.voyagesdestination.com/images/hotels/athens/presidenthotel/files/president%204.jpg" alt="Habitación">
    </a>
    <a href="http://www.hotelpresident.cz/files/cms/sized/files/hotel-president-prague/homepage/hotel-president-prague-dinner-terrace-001-1500x1000.jpg" title="Cena" data-gallery>
        <img src="http://www.hotelpresident.cz/files/cms/sized/files/hotel-president-prague/homepage/hotel-president-prague-dinner-terrace-001-1500x1000.jpg" alt="Cena">
    </a>
    <a href="http://www.hotelpresident-andorra.com/uploads/galeriahoteles/restaurant-hotel-president-jan-hoteles.jpg" title="Menú" data-gallery>
        <img src="http://www.hotelpresident-andorra.com/uploads/galeriahoteles/restaurant-hotel-president-jan-hoteles.jpg" alt="Menú">
    </a>
    <a href="http://d2z6mu74zhohgn.cloudfront.net/_php/sfgmin-446471-864-530.jpg" title="Bar" data-gallery>
        <img src="http://d2z6mu74zhohgn.cloudfront.net/_php/sfgmin-446471-864-530.jpg" alt="Bar">
    </a>
    <a href="http://q-ec.bstatic.com/images/hotel/840x460/266/26626805.jpg" title="Fachada" data-gallery>
        <img src="http://q-ec.bstatic.com/images/hotel/840x460/266/26626805.jpg" alt="Fachada">
    </a>
</div>
