
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Área restringida</h1>
    <p>Sólo personal autorizado.(password = hola)</p>
    <form class="navbar-form navbar-right" name="frmSignin" ng-submit="frmSignin.$valid && ctrl.signin()"
                    ng-controller="SigninController as ctrl"
                    novalidate>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" class="form-control" ng-model="ctrl.email" ng-pattern="/^[-!#$%&'*+/0-9=?A-Z^_a-z{|}~](\.?[-!#$%&'*+/0-9=?A-Z^_a-z{|}~])*@[a-zA-Z](-?[a-zA-Z0-9])*(\.[a-zA-Z](-?[a-zA-Z0-9])*)+$/" required>
        <div class="errorMessages" ng-messages="frmSignin.email.$error" ng-if="!frmSignin.email.$pristine || frmSignin.$submitted" role="alert" >
          <div ng-messages-include="/err/messages.html"></div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control" ng-model="ctrl.password" required>
        <div class="errorMessages" ng-messages="frmSignin.password.$error" ng-if="!frmSignin.password.$pristine || frmSignin.$submitted" role="alert" >
          <div ng-messages-include="/err/messages.html"></div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Entrar</button>
    </form>
  </div>
  <a style="margin-left: 75%;" ng-href="#!/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Regresar a página principal</a>
</div>
